include mixins/mixins_index
doctype html
html
    head
        //- metas
        title= title

        //- favicons
        link(rel="apple-touch-icon", sizes="57x57", href="/apple-touch-icon-57x57.png")
        link(rel="apple-touch-icon", sizes="60x60", href="/apple-touch-icon-60x60.png")
        link(rel="apple-touch-icon", sizes="72x72", href="/apple-touch-icon-72x72.png")
        link(rel="apple-touch-icon", sizes="76x76", href="/apple-touch-icon-76x76.png")
        link(rel="apple-touch-icon", sizes="114x114", href="/apple-touch-icon-114x114.png")
        link(rel="apple-touch-icon", sizes="120x120", href="/apple-touch-icon-120x120.png")
        link(rel="apple-touch-icon", sizes="144x144", href="/apple-touch-icon-144x144.png")
        link(rel="apple-touch-icon", sizes="152x152", href="/apple-touch-icon-152x152.png")
        link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon-180x180.png")
        link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
        link(rel="icon", type="image/png", href="/android-chrome-192x192.png", sizes="192x192")
        link(rel="icon", type="image/png", href="/favicon-96x96.png", sizes="96x96")
        link(rel="icon", type="image/png", href="/favicon-16x16.png", sizes="16x16")
        link(rel="manifest", href="/manifest.json")
        meta(name="msapplication-TileColor", content="#da532c")
        meta(name="msapplication-TileImage", content="/mstile-144x144.png")
        meta(name="theme-color", content="#ffffff")

        //- icons
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.0.2/css/material-design-iconic-font.min.css')

        //- fonts
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Oxygen:700,400,300')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lobster+Two:400,400italic,700,700italic|Courgette')

        //- plugins
        link(rel='stylesheet', href='css/vendor/loaders.min.css')
        link(rel="stylesheet", href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.teal-amber.min.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")

        //- styles
        link(rel='stylesheet', href='css/login.css')
        link(rel='stylesheet', href='css/style.css')
        link(rel='stylesheet', href='css/responsive.css')
        link(rel='stylesheet', href='css/helpers.css')

        //- scripts
        script(src='/js/vendor/angular.min.js')
        script(src='/js/vendor/angular-sanitize.min.js')
        script(src='/js/vendor/i18next.min.js')
        script(src='/js/vendor/ng-i18next.min.js')

    body(ng-app='FruitApp', ng-controller='MainController')
        +custom_header('fruit manager', 'exit')
        block content

        +custom_footer(t('layout.footer.about'))

        //- scripts
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js')
        script(src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js")
        script(src='js/cookies.js')        
        script(src='js/app.js')
        script(src='js/UserService.js')
        script(src='js/FruitService.js')
        script(src='js/LoginController.js')
        script(src='js/TableController.js')
        script(src='js/CardController.js')
            
        script
            | (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            | (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            | m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            | })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            | ga('create', 'UA-43057134-3', 'auto');
            | ga('send', 'pageview');
